<nav class="navbar navbar-expand bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/home">Trend's</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Link 2</a>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Role Show -->
    <div class="nav-item" >
        Hello : {{Username}}
        MR :{{loginUserName}}
    </div>
    <!-- Dropdown -->
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
        Account
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngIf='(!authserve.loggedIn())' routerLink="/register">Register</a>
        <a class="dropdown-item" *ngIf='(!authserve.loggedIn())' routerLink="/login">Login</a>
        <a class="dropdown-item" *ngIf='(authserve.loggedIn())' (click)="authserve.logOut()">LogOut</a>
      </div>
    </div>
    <form class="form-inline ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="sendData();">Sending Name</button>
    </form>
  </div>
</nav>