<form class="form-inline" [formGroup]="productForm" (ngSubmit)="uploadProduct()">
  
  <div class="form-label-group">
    <label for="pname">Product Name</label>
    <input type="text" class="form-control" formControlName="pname">
  </div>

  <div class="form-label-group mx-sm-3 mb-2">
    <label for="ptitle" >Product title</label>
    <input type="text" class="form-control" formControlName="ptitle">
  </div>

  <div class="form-label-group mx-sm-3 mb-2">
    <label for="pcategory" >Product category</label>
    <input type="text" class="form-control" formControlName="pcategory">
  </div>

  <div class="form-label-group mx-sm-3 mb-2">
    <label for="price">Product price</label>
    <input type="number" class="form-control" formControlName="price">
  </div>

  <div class="form-label-group mx-sm-3 mb-2">
    <label for="pDescription" >Product description</label>
    <textarea class="form-control" formControlName="pDescription"></textarea>
  </div>

  <div class="form-group mx-sm-3 mb-2">
      <label for="pimage">image</label>
      <input type="file" name="pimage" (change)="onFileChanged($event)" #pimage>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Upload Product</button>
</form>